/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

input{
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #808080;
    width: 272px;
    height: 40px;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
    padding-left: 16px;
    
  }

  input:hover{
    border: 1px solid #000;
  }

  input:active{
    border: 1px solid #4e75ff;

  }

  button{
    border-radius: 8px;
      padding: 8px 16px;
      width: 91px;
      height: 40px;
      background-color: #4e75ff;
      border: transparent;
      font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        margin-left: 8px;
  }

  button:hover{
    background-color: #6c8cff;
  }

  ul{
    list-style: none;
  }